PORT=3000
POSTGRES_HOST=host
POSTGRES_USER=user_name
POSTGRES_DB=db
POSTGRES_PASSWORD=pass
POSTGRES_PORT=postgres_port
JWT_SECRET=secret_string

JWT_VERIFICATION_TOKEN_SECRET=verification_token
JWT_VERIFICATION_TOKEN_EXPIRATION_TIME=token_expire
EMAIL_CONFIRMATION_URL=url
GOOGLE_MAIL_APP_EMAIL=email
GOOGLE_MAIL_APP_PASSWORD=pass